# Bloquear el acceso a archivos de scripts, base de datos y logs
<FilesMatch "\.(sh|ps1|sql|log|md|txt|ini)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Bloquear el acceso a la carpeta de configuración y a la de Git
RedirectMatch 404 ^/tfg/config/.*$
RedirectMatch 404 /\.git